<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Others</key>
	<array>
		<string>monthly_vip_trial</string>
	</array>
	<key>SharedSecret</key>
	<string>0e0d2b559c304dde8f373d0beb3a91b7</string>
</dict>
</plist>
